

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    margin: 1rem 1rem 0 1rem;
    padding: 0.5rem 1rem;
    background-color: 	#9cf1d5;
    font-family:'Poppins';
        /* Contrast Ratio = 15.95 */
}

body {
    background-color:#EDEDED;
    color:#000000;
    font-family: Helvetica, sans-serif;
}



a {color:black
}



img {
    max-width: 100%;
}


.nav-il{
    padding: 0px 5px;
    margin: 0px 5px;
    text-align:right;
    font-size:xx-small;
}

.Heading1{
    font-family:'Poppins';
    color:#3F735E;
    font-size:xx-small;
    padding-bottom: 15px;
    /* Contrast Ratio = 4.68:1 */ 
}

.Heading2{
    font-family:'Poppins';
    color:#2B5547;
    font-size:xx-small;
    padding-top: 5px;
    /* Contrast Ratio = 4.68:1 */ 
}

.Section1 {
    padding: 0px 0px 25px;
    font-size: x-small;
}

.Section2 {
    padding: 0px 0px 15px 15px;
    font-size: x-small;
}

.adultlist {
    list-style-type: none;
    list-style-position: outside;
    padding: 0px 0px 15px 15px;
    font-size: x-small;
}

.Section2-videoP {
    font-size:x-small;
    padding-bottom: 2%; 
}

.main-nav {
    list-style-type: none;
    float: right;
    display:block;
    margin: 0px 0px 0px;
}

footer {
    padding: 1rem;
    background-color: black;
    color:white;
    clear:both;
    font-size: xx-small;
    bottom: 0;
    /* Contrast Ratio = 21:1 */
} 

.Section2-adultprograming {
    padding: 25px 10px 10px;
    text-align: center;
    font-size: x-small;
    float: left;
    font-family: 'Poppins';
}


.booktalkimage {
    padding: 25px 0px 0px;
    margin:0px 10px ;
    width: 100px;
    float:left;
}

.booktalkp {
    font-size: x-small;
}

.adultimage {
    padding: 0px 0px 0px;
    margin:0px 10px ;
    width: 100px;
    float:left;
}


.starraiting {
    float:left;
    clear:both;
    color: #daa520;
    font-size:50px;
}

.herizonlinks{
    margin: 0px 0px 15px 50px;
    font-size: x-small;
    }

    .video-container {
        position: relative;
        margin-left: 10px;
        width: 150px;
        float: right;
        clear:both;
      }

      .video-container iframe {
        width: 200px;
        height: 100px;
        max-width: 100%;
      }
    
 
@media only screen and (min-width: 950px) 
{
    .nav-il{
        padding: 0px 5px;
        margin: 0px 5px;
        text-align: center;
        font-size:medium;
    
    }

    .video-container {
    position: relative;
    padding-bottom: 150px;
    margin-left: 10px;
    height: 200px;
    width: 250px;
    float: right;
    clear:both;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 150px;
    max-width: 100%;
  }

  .Section2-videoP {
    height: 150px;
    padding: 0px 0px 15px 15px;
    font-size:medium; 
  }

  .herizonlinks{
    margin: -75px 0px 50px 50px;
    font-size: medium;
    }

    .Section1 {
        padding: 0px 0px 25px;
        font-size:medium;
    }
    
    .Section2 {
        padding: 0px 0px 15px 15px;
        font-size:medium;
    }

    .adultlist {
        list-style-type: none;
        list-style-position: outside;
        padding: 0px 0px 15px 15px;
        font-size:medium;
        
    }

    .Heading1{
        font-family:'Poppins';
        color:#3F735E;
        font-size:medium;
        /* Contrast Ratio = 4.68:1 */ 
    }
    
    .Heading2{
        font-family:'Poppins';
        color:#2B5547;
        font-size:medium;
        padding-top: 20px;
        /* Contrast Ratio = 4.68:1 */ 
    }

    .main-nav {
        list-style-type: none;
        float: right;
        display:inline-flex;
        margin: 50px 0px 0px;
    }

    footer {
        padding: 1rem;
        background-color: black;
        color:white;
        clear:both;
        font-size: xx-small;
        /* Contrast Ratio = 21:1 */
    } 

    .Section2-adultprograming {
        padding: 25px 10px 10px;
        font-size:medium;
        text-align: center;
        float: left;
        font-family: 'Poppins';
    }
    
    
    .booktalkimage {
        padding: 25px 0px 0px;
        margin:0px 10px ;
        width: 150px;
        float:left;
    }
    
    .booktalkp {
        padding: 25px 0px 0px;
        font-size:medium;
    }
    
    .adultimage {
        padding: 0px 0px 0px;
        margin:0px 10px ;
        width: 100px;
        float:left;
    }
    

    .starraiting {
        float:left;
        clear:both;
        text-align: center;
        color: #daa520;
        font-size:70px;
    }

    .truecrime-image{
        width: 350px;
    }


} 



address {
    font-style: normal;
}

label{
    display:block;
    font-weight: 700;
    margin: botton 0.5em;
}
.form-imput {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding:1em;
    margin-bottom:1.5em;
    width:100%
}
 .form-imput:focus {
    outline:none;
    border: 2px solid #66ccaa;
 }


 [type="submit"] {
    background: #95e8cc;
    width:75%;
    border: none;
    border-radius: 4px;
    font-size: 1.25;
    font-weight: 700;
    font-family:'Poppins';
    padding: .5em;
    cursor: pointer;
 }

 [type="submit"]:hover,
  [type="submit"]:focus {
    background: #66ccaa;
  }

  textarea {
    resize:vertical;
  }

  .error {
    border-color: #C62828;
  }

  .error-message{
    color:#C62828;
    margin:-2em 0 1.5em;
  }
main {
    padding: 1rem  1rem 2rem;
}


.homepagesidebar1 {
    list-style-type: none; 
    font-size:x-small;
    padding: 25px 10px 10px;
    margin: 10px;
    background-color: #ccffee;
    max-width: 200px;
    float: right;
    clear:both;
    text-align: center;
    font-family: 'Poppins';
       /* Contrast Ratio = 19.1:1*/ 
}

.homepagesidebar2 {
    list-style-type: none; 
    font-size:x-small;
    font-family: 'Poppins';
    padding: 25px 10px 10px;
    margin: 10px;
    background-color: #66ccaa;
    max-width: 200px;
    float: right;
    clear:both;
    text-align: center; 
     /* Contrast Ratio = 10.78:1*/ 
}

